.header {
    display: flex;
    justify-self: space-around;
    width: 1052px;
    height: 105px;
    top: 92px;
    left: 24px;
background-color: antiquewhite;
}

.header_menu {

}

.header_link-list {

}

.header_link-list-item {

}

.header_link-list-item_no-bullit {

}

.header_link {

}

.header_link_active {

}

.header_logo {

}

.header_logo-image {

}

.address {

}

.header_adress {

}

.cover {

}

.overlay {

}

.cover_titel {

}

.aligned-text {

}

.aligned-text_center {

}

.aligned-text_right {

}

.letter-spacing-extended {

}

.no-letter-spacing  {

}

.cover_discription-text {

}

.bet-button {

}

.lots {

}

.lots_heading {

}

.lots_card-list {

}

.lots_card-list-item {

}

.card-link {

}

.card {

}

.card_type_film {

}

.card_type_book {

}

.card_type_picture {

}

.overlay {

}

.card_title {

}

.card_text {

}

.lots_look-more-link {

}

.about {

}

.about_column {

}

.about_logo{

}

.about_logo-image {

}

.about_title{

}

.about_text {

}

.footer {

}

.address {

}

.footer_menu {

}

.footer_menu-list {

}

.footer_menu-list-item {

}

.footer_menu-link {

}

.footer_menu-link_active {

}

.footer_social-list {

}

.footer_social-list-item {

}

.footer_social-link {

}

.footer_social-icon {
    
}